<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"> {% block head %}
  <title>{% block title %}{% endblock %} - Overflow News</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/hack.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.1/dark.css">
  <style type="text/css">
    .posts {
      display: block;
    }

    .posts li {
      margin-bottom: 20px;
    }

    .posts li a {
      display: inline-block;
    }
  </style>
  {% endblock %}
</head>

<body class="hack dark">
  <div id="content">{% block content %}{% endblock %}</div>
</body>

</html>