{% extends "base.html" %} {% block title %}Feeds{% endblock %} {% block content %}
<div class="menu">
  <a class="menu--item" href="/">Posts</a>
  <span class="menu--item menu--item__active">Feeds</span>
</div>
<ol class="feeds">
  {% for feed in feeds %}
  <li>
    <div class="header">
      <a href="{{ feed.url }}" target="_blank">
        {{ feed.title }}
      </a>
      <a href="{{ feed.sourceURL }}">
        ( {{ feed.sourceName }})
      </a>
    </div>
    <div class="date">
      {{ feed.date }}
    </div>
    <div class="categories">
      {% for category in feed.categories %}
      <span>
        {{ category }}
      </span>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ol>
{% endblock %}