<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Overflow News</title>
</head>
  <body>
    <ul>
      <% posts.forEach(function(post) { %>
      <li>
        <a href="<%= post.url %>" target="_blank"><%= post.title %></a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
