<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header %>
</head>
  <body>
    <ul>
      <% posts.forEach(function(post) { %>
        <li><%= post.title %></li>
      <% }) %>
    </ul>
  </body>

  <footer>
    <% include ../partials/footer %>
  </footer>
</html>
